body{
  background-color:aqua;
}
*{
max-height: 400px;
padding: 0px;
border: 0px;

}
h1{
  display: flex;
  justify-content: center;
}
.searchBar{
max-width: 300px;
}
.display>.thing>.moviePoster{

width:300px;
height: 200px;
}
.display{
 display: flex;
 flex-direction: column;
 
}
.info{
width: 600px;
height: 200px;
flex-direction: column;

}
.bio,.releaseDate,.movieTitle,.rating{
transform: translateX(300px);

}

.thing{
display: flex;
flex-direction: column;
align-content:space-around;

}

.display>.thing>.info{
  transform: translateX(300px);

}